<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DJLocalPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DJLocalPlayer_a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A158FB321D0AC25B00A68F1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A158FB4B1D0AC25B00A68F1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A158FB561D0AC25B00A68F1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A158FB6C1D0AC64E00A68F1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
